<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <div class=" card-header">
                    <h1 class=" title">Curriculum vitae</h1>
                </div>
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col-lg-3">
                            <b><p>Full Name:</p></b>
                        </div>
                        <div class=" col-lg-3">
                            <p>{{basicInfo.ProfileName}}</p>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" col-lg-3">
                            <b><p>Nationality:</p></b>
                        </div>
                        <div class=" col-lg-3">
                            <p>{{basicInfo.Nationality}}</p>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" col-lg-3">
                            <b><p>Living:</p></b>
                        </div>
                        <div class=" col-lg-3">
                            <p>{{basicInfo.LivingPlace}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
